/* -id's have the same name as the variable in the Java code */

.align-center{
	-fx-alignment: center;
}
.largeText{
	-fx-font-size: 50px;
}
.mediumText{
	-fx-font-size: 30px;
	
}
.smallText{
	-fx-font-size: 20px;
}

#timeScorePane{
	-fx-background-color:#dbe089;
}
#timelabel{
	
}
#bonusTimeLabel{
	-fx-text-fill:darkblue;
	-fx-font-weight:bold;
}
#scoreLabel{
	
}
#numberAreaPane{
	-fx-background-color:#fcda95;
	
}
#randNumLabel{
	-fx-background-color:darkblue;
	-fx-background-radius:15px;
	-fx-padding: 0 10px;
	-fx-text-fill: black;
	
}
#randNumLabelRun{
	-fx-text-fill:black;
	-fx-font-size:120px;
}
.odd-even-pane{
	
}
.oddEvenLabels{
	-fx-font-weight:bold;
	-fx-font-size:20px;
}
#oddPane{
	-fx-background-color:orange;
}
#evenPane{
	-fx-background-color:#ff4444;
}

#gameOverPane{
	-fx-background-color:lightgrey;
}
#finalscorePane{
	-fx-background-color:yellow;
	-fx-padding: 0 0 30px;
	-fx-background-radius:20px;
}
#finalScorePaneContainer{
	-fx-padding: 0 20px 10px 20px;
}
#restartInstructionsLabel{
	-fx-backround-color:white;
	-fx-padding: 0 5px;
	-fx-background-radius:10px;
}